@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo, @(Environment.MachineName.ToLower())! </h1>
    <p>Este app foi desenvolvido seguindo o passo a passo do <a href="https://learn.microsoft.com/pt-br/training/modules/create-razor-pages-aspnet-core/">curso ASP.NET Core</a>.</p>
</div>
